
@import "bootstrap-custom";
@import "bootstrap/variables";

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

#nav li a {
    color: $headings-color;
}

.visual {
	color: white;
	letter-spacing: 1px;

	h1 {
		color : white;
		margin-bottom : 5%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
	}
}

#test {
	background-color : #f4f4f4;

    p {
    	color : $headings-color;
    }
}

#header .logo {
    width: 198px;

    img {
        width: 100%;
        height: 100%;
    }
}

.subscribe {
    h3 {
    	color: $headings-color;
    }

    .btn {
        background-color: $brand-primary;
    }
}

.footer-holder{
    .logo {
        width: 198px;
        height: 41px;
        padding: 0;

        img {
            width: 100%;
        	height: 100%;
        }
    }

    ul {
        a {
            color: $headings-color;

            &:hover {
				color: $brand-primary;
			}
        }
    }
}

@media only screen and (max-width:$screen-xs - 1) {
	#header {
		.logo {
			width: 198px;
		}
    }

    .visual {
        .bg-stretch {
            height: 100%;
            max-width: none;
            bottom: 0;
        }
    }
}
