
@import "bootstrap-custom";

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

#nav li a {
    color: $headings-color;
}

.visual {
	color: white;
	letter-spacing: 1px;

	h1 {
		color : white;
		margin-bottom : 5%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
	}
}

header .logo {
    width: 198px;

    img {
        width: 100%;
        height: 100%;
    }
}

.footer-holder .logo {
    width: 198px;
    height: 41px;
    padding: 0;

    img {
        width: 100%;
    	height: 100%;
    }
}
